#page-container {width:760px; margin: auto; background: rgb(236, 183, 183);
}

#main-nav {
height: 15px;
text-align:center;
font-family: Tahoma, Arial, Helvetica, Sans-serif;
}
#main-nav a{
color: #c9c9c9;
text-decoration: none;}
#main-nav a:hover{color: #db6d16;}
#header {background: green;height: 150px;
}
#side_bar{
background:#996600;
}
#side_bar{
background:#996600;
float:right;
width:150px; height: 200px;}
#content {background: rgb(228, 139, 214);
font-family:Tahoma, arial, helvetica, sans-serif;
font-size:14px;
padding: 15px 15px;}
#footer {Clear:both;
height: 70px;
font-family: Tahoma, Arial, Helvetica, Sans-serif;
font-size: 10px;
color: #c9c9c9;
border-top: 1px solid #efefef;
padding: 13px 25px;
line-height: 18px;
}
#footer a {
color: #c9c9c9;
text-decoration: none;
}
#footer a:hover {
color: #db6d16;
}
#footer #altnav {
width: 350px;
float: right;
text-align: right;
}